extends layout
link(rel='stylesheet', href='style.css', media='screen', title='no title', charset='utf-8')

block content
  .index-page
     .container-fluid
       .splash.col-md-12
         h2 Rent the best maternity wear
         h1 Join our monthly subscription service
         button(type='button', name='button') Sign up now
